<!--<!DOCTYPE html>-->
<!--<html>-->
<!--  <head>-->
    <!--<!casual, cold, feminine outfit>-->
<!--    <title>Your Outfit</title>-->
<!--  </head>-->
<!--  <body>-->
<!--    <br>-->
<!--    <h1 class="header">Here's your outfit!</h1>-->
<!--    <br>-->
<!--    <img src="https://www.lulus.com/images/product/xlarge/1108186_173354.jpg"  width=50% height=50% class="image">-->
<!--    <br>-->
<!--    <br>-->
<!--    <a href="https://www.lulus.com/products/lulus-exclusive-nice-touch-black-dress/173354.html" class="link">Buy your outfit here</a>-->
<!--    <br>-->
<!--    <br>-->
<!--    <br>-->

    <!--<%=@result_stuff%>-->
<!--    <div class="header">Thank you for shopping with us!</div>-->
<!--    <br>-->
<!--    <br>-->
<!--    <br>-->

<!--  <style>-->
<!--    .header {-->
<!--      font-family: impact;-->
<!--      color: pink;-->
<!--      text-align: center;-->
<!--      font-size: 500%;-->
<!--      background-color: white; -->
<!--      width: 45%;-->
<!--      border-radius: 10px 100px / 120px;-->
<!--      margin: auto;-->
<!--    }-->
<!--    .image {-->
<!--    display: block;-->
<!--    margin-left: auto;-->
<!--    margin-right: auto;;-->
<!--    }-->
<!--    .link {-->
<!--      display: block;-->
<!--      text-align: center;-->
<!--      font-size: 250%;-->
<!--      background-color: white;-->
<!--      width: 45%;-->
<!--      margin: auto;-->
<!--    }-->
  
<!--    body {-->
<!--      background-image: url(https://media.giphy.com/media/XpfAcjOxMDjkQ/giphy.gif);-->
<!--    }-->
<!--  </style>-->
  
<!--    </body>-->
<!--</html>-->
<!DOCTYPE html>
<html>
  <head>
    <!--<!casual, cold, feminine outfit>-->
    <title>Your Outfit</title>
  </head>
  <body>
    <h1>Here's your outfit!</h1>
    <!--<img src="https://www.lulus.com/images/product/xlarge/3127740_265042.jpg"/>-->
    <!--<a href="https://www.lulus.com/products/sway-girl-sway-black-swing-dress/265042.html"/>-->
    <h1><%=@result_1%></h1>
    <a href=<%=@result_2%>>buy the dress</a>
    <img src=<%=@result_3%>>
    <h1><%=@result_4%></h1>
    <a href=<%=@result_5%>></a>
    <img src=<%=@result_6%>>
  </body>
  
  
</html>